#nossa{
    background-color: cadetblue;
}
#div{
    text-align: center;
}
.meubotao{
    background-color: black;
    color: cornsilk;
    font-size: 20px;
    padding: 30px;
}

h1{
    color: aqua;
    text-align: center;
}
i{
    color: blueviolet;
}
b{
    color: blue;
}
li{
    color: aqua;
}