#body1{
    background-image: linear-gradient(to bottom, rgb(0,32,5), rgb(0,186,30));
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}